################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GitVB/GitVB.vcxproj.filters
/GitVB/GitVB.vcxproj.user
/GitVB/GitVB.vcxproj
